.movie {
    display: flex;
}

.info {
    color: white;
    padding: 30px 50px;
    background-size: cover;
    background-repeat: no-repeat;
}
.additionalLinks {
    display: flex;
}

.additionalLinks li:not(:last-child) {
    margin-right: 20px;
}
