.navigation {
    display: flex;
    align-items: center;
    justify-content: start;
}

.link {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 20px;
}
.link:hover,
.link:focus,
.link.active {
    color: blueviolet;
}

.link:not(:last-child) {
    margin-right: 20px;
}
